In [1]:
import pandas as pd

In [2]:
health_impact = pd.read_csv(r"..\data\raw\health_impact_2025.csv")

In [3]:
import seaborn as sns
import matplotlib.pyplot as plt 
import matplotlib.cm

In [4]:
health_impact.head()

,Survey_Date,Age,Gender,Region,Industry,Job_Role,Work_Arrangement,Hours_Per_Week,Mental_Health_Status,Burnout_Level,Work_Life_Balance_Score,Physical_Health_Issues,Social_Isolation_Score,Salary_Range
0,2025-06-01,27,Female,Asia,Professional Services,Data Analyst,Onsite,64,Stress Disorder,High,3,Shoulder Pain; Neck Pain,2,$40K-60K
1,2025-06-01,37,Female,Asia,Professional Services,Data Analyst,Onsite,37,Stress Disorder,High,4,Back Pain,2,$80K-100K
2,2025-06-01,32,Female,Africa,Education,Business Analyst,Onsite,36,ADHD,High,3,Shoulder Pain; Eye Strain,2,$80K-100K
3,2025-06-01,40,Female,Europe,Education,Data Analyst,Onsite,63,ADHD,Medium,1,Shoulder Pain; Eye Strain,2,$60K-80K
4,2025-06-01,30,Male,South America,Manufacturing,DevOps Engineer,Hybrid,65,NaN,Medium,5,NaN,4,$60K-80K

In [5]:
health_impact.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3157 entries, 0 to 3156
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survey_Date              3157 non-null   object
 1   Age                      3157 non-null   int64
 2   Gender                   3157 non-null   object
 3   Region                   3157 non-null   object
 4   Industry                 3157 non-null   object
 5   Job_Role                 3157 non-null   object
 6   Work_Arrangement         3157 non-null   object
 7   Hours_Per_Week           3157 non-null   int64
 8   Mental_Health_Status     2358 non-null   object
 9   Burnout_Level            3157 non-null   object
 10  Work_Life_Balance_Score  3157 non-null   int64
 11  Physical_Health_Issues   2877 non-null   object
 12  Social_Isolation_Score   3157 non-null   int64
 13  Salary_Range             3157 non-null   object
dtypes: int64(4), object(10)
memory usage: 345.4+ KB

In [22]:
health_impact.isna().sum()

survey_date                0
age                        0
gender                     0
region                     0
industry                   0
job_role                   0
work_arrangement           0
hours_per_week             0
mental_health_status       0
burnout_level              0
work_life_balance_score    0
physical_health_issues     0
social_isolation_score     0
salary_range               0
dtype: int64

In [6]:
health_impact['Mental_Health_Status'].unique()

array(['Stress Disorder', 'ADHD', nan, 'Burnout', 'Anxiety', 'PTSD',
       'Depression'], dtype=object)

In [7]:
health_impact['Mental_Health_Status'] = health_impact['Mental_Health_Status'].fillna('N/A')

In [8]:
health_impact['Physical_Health_Issues'].unique()

array(['Shoulder Pain; Neck Pain', 'Back Pain',
       'Shoulder Pain; Eye Strain', nan, 'Back Pain; Shoulder Pain',
       'Back Pain; Shoulder Pain; Wrist Pain', 'Neck Pain',
       'Shoulder Pain', 'Eye Strain; Wrist Pain', 'Back Pain; Eye Strain',
       'Back Pain; Shoulder Pain; Eye Strain', 'Back Pain; Wrist Pain',
       'Shoulder Pain; Eye Strain; Neck Pain; Wrist Pain', 'Eye Strain',
       'Back Pain; Shoulder Pain; Eye Strain; Neck Pain',
       'Eye Strain; Neck Pain', 'Shoulder Pain; Eye Strain; Wrist Pain',
       'Back Pain; Neck Pain', 'Wrist Pain',
       'Back Pain; Shoulder Pain; Neck Pain',
       'Back Pain; Eye Strain; Neck Pain',
       'Back Pain; Shoulder Pain; Eye Strain; Wrist Pain',
       'Shoulder Pain; Eye Strain; Neck Pain', 'Neck Pain; Wrist Pain',
       'Back Pain; Eye Strain; Neck Pain; Wrist Pain',
       'Back Pain; Eye Strain; Wrist Pain',
       'Back Pain; Neck Pain; Wrist Pain', 'Shoulder Pain; Wrist Pain',
       'Back Pain; Shoulder Pain; Eye Strain; Neck Pain; Wrist Pain',
       'Back Pain; Shoulder Pain; Neck Pain; Wrist Pain',
       'Eye Strain; Neck Pain; Wrist Pain',
       'Shoulder Pain; Neck Pain; Wrist Pain'], dtype=object)

In [9]:
health_impact['Physical_Health_Issues'] = health_impact['Physical_Health_Issues'].fillna('N/A')

In [10]:
health_impact.isna().sum()

Survey_Date                0
Age                        0
Gender                     0
Region                     0
Industry                   0
Job_Role                   0
Work_Arrangement           0
Hours_Per_Week             0
Mental_Health_Status       0
Burnout_Level              0
Work_Life_Balance_Score    0
Physical_Health_Issues     0
Social_Isolation_Score     0
Salary_Range               0
dtype: int64

In [23]:
health_impact.describe()

,survey_date,age,gender,region,industry,job_role,work_arrangement,hours_per_week,mental_health_status,burnout_level,work_life_balance_score,physical_health_issues,social_isolation_score,salary_range
count,3157,3157,3157,3157,3157,3157,3157,3157,3157,3157,3157,3157,3157,3157
unique,26,44,4,6,9,24,3,31,7,3,5,32,5,5
top,2025-06-07,43,MALE,SOUTH AMERICA,PROFESSIONAL SERVICES,RESEARCH SCIENTIST,ONSITE,45,N/A,MEDIUM,3,N/A,3,$60K-80K
freq,137,92,1535,575,730,151,1562,123,799,1366,1169,280,929,1014

In [15]:
health_impact.duplicated().sum()

np.int64(0)

In [16]:
def clean_all_columns(df):
    # Import numpy for NaN values
    import numpy as np
    
    # Loop through all columns in the dataframe
    for column in df.columns:
        # Convert column to string type
        df[column] = df[column].astype(str)
        # Strip whitespace and convert to uppercase
        df[column] = df[column].str.strip().str.upper()
        # Replace column name with NaN (assuming column names might be in the data)
        df[column] = df[column].replace(column.upper(), np.nan)
        # Also replace 'NAN' string with actual NaN value
        df[column] = df[column].replace('NAN', np.nan)
    
    return df

# Clean all columns
health_impact = clean_all_columns(health_impact)

# Example of checking unique values in a specific column

In [20]:
health_impact.columns = health_impact.columns.str.strip().str.lower().str.replace(r'[\s/]+', '_', regex=True)

In [24]:
health_impact.head()

,survey_date,age,gender,region,industry,job_role,work_arrangement,hours_per_week,mental_health_status,burnout_level,work_life_balance_score,physical_health_issues,social_isolation_score,salary_range
0,2025-06-01,27,FEMALE,ASIA,PROFESSIONAL SERVICES,DATA ANALYST,ONSITE,64,STRESS DISORDER,HIGH,3,SHOULDER PAIN; NECK PAIN,2,$40K-60K
1,2025-06-01,37,FEMALE,ASIA,PROFESSIONAL SERVICES,DATA ANALYST,ONSITE,37,STRESS DISORDER,HIGH,4,BACK PAIN,2,$80K-100K
2,2025-06-01,32,FEMALE,AFRICA,EDUCATION,BUSINESS ANALYST,ONSITE,36,ADHD,HIGH,3,SHOULDER PAIN; EYE STRAIN,2,$80K-100K
3,2025-06-01,40,FEMALE,EUROPE,EDUCATION,DATA ANALYST,ONSITE,63,ADHD,MEDIUM,1,SHOULDER PAIN; EYE STRAIN,2,$60K-80K
4,2025-06-01,30,MALE,SOUTH AMERICA,MANUFACTURING,DEVOPS ENGINEER,HYBRID,65,N/A,MEDIUM,5,N/A,4,$60K-80K

In [25]:
health_impact.to_csv('health_impact.csv', index=False)